*~
.DS_Store
.idea
.svn
.cvs
.php_cs.cache
*.bak
*.swp
Thumbs.db
debug.log

## folders to exlude from this project
/output/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
